{% extends "base.html" %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block header %}
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="risk">risk calculation</a></li>
      <li><a href="history">purchease history</a></li>
      <li><a href="alert" id="current">alerts</a></li>
      <li><a href="support">support</a></li>
      <li><a href="about">about</a></li>
    </ul>
{% endblock %}
{% block main %}

<H3>Alerts table</H3>
<!--add popup-->
<a href = "javascript:void(0)" class="myButton" onclick = "document.getElementById('light').style.display='block';
    document.getElementById('fade').style.display='block'">add</a>
<!--the popup-->
<div id="light" class="white_content">
    <h1>Enter alert</h1>
<div style="float: left;">
    <form method="post">
            <p>
        Symbol:
        <div id="demo"></div>
        <br>
        Enter Price:<br> <input type="number" name="enterPrice" required>
        <br>
        Stop Lose: <br><input type="number"   name="stopLose" required>
        <br>
        Take Profit: <br><input type="number"   name="takeProfit" required>
        <br>
        Volume:
        <select name="volume">
            <option value="0.1">0.1</option>
            <option value="0.2">0.2</option>
            <option value="0.3">0.3</option>
            <option value="0.4">0.4</option>
            <option value="0.5">0.5</option>
            <option value="0.6">0.6</option>
            <option value="0.7">0.7</option>
            <option value="0.8">0.8</option>
            <option value="0.9">0.9</option>
            <option value="1.0">1.0</option>
        </select><br>

        <input type="radio" name="typels" value="long" checked>Long
        <input type="radio" name="typels" value="short" >Short<br>


        <br><br>  <input name="" type="submit"  class="myButton" value="Add">
        <a href = "javascript:void(0)" class="myButton" onclick = "document.getElementById('light').style.display='none';
           document.getElementById('fade').style.display='none'">Close</a>
          </p>
      </form>
    </div>
</div>

<!-- the background for popup-->
<div id="fade" class="black_overlay"></div>
<br><br>

<div class="CSSTableGenerator" >
                <table >
                    <tr>
                        <td>
                            Date
                        </td>
                        <td>
                            Symbol
                        </td>
                        <td >
                            Enter price
                        </td>
                        <td>
                            Stop Lose
                        </td>
                        <td>
                            Take profit
                        </td>
                        <td>
                            Volume
                        </td>
                         <td>
                            Lo/Sh
                        </td>
                    </tr>
                  {% for a in alerts %}
                    <tr>
                           <td>

                                <form action="editROWAL">
                                 <input type="hidden" name="id" value = {{h.key}}/>
                                <input type="submit" value="Edit"/>
                               </form>
                           </td>

                        <td >
                            {{ a.date }}
                        </td>
                        <td>
                           {{ a.symbol }}
                        </td>
                        <td>
                            {{ a.enterprice }}
                        </td>
                        <td >
                            {{ a.stoplose }}
                        </td>
                        <td>
                            {{ a.takeprofit }}
                        </td>
                        <td>
                          {{ a.volume }}
                        </td>
                         <td>
                            {{ a.lstype }}
                        </td>

                         <td>

                             <form action="deleteROWAL">
                                 <input type="hidden" name="id" value = {{h.key}}/>
                                 <input type="image" src="../static/images/delete.png"/>
                             </form>
                         </td>

                    </tr>
                    {% endfor %}
                </table>
            </div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="static/js/symbolslist.js"></script>
{% endblock %}

<!--
{% block sidebar %}

{% endblock %}-->