<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {% block head %}
<title>ForexApp</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet"  type="text/css" href="../static/css/EliteCircle.css"/>

<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="application/javascript" src="/static/js/index.js"></script>

    {% endblock %}
</head>
<body>
<div id="header">
  <div id="header-content">
      <h1 id="logo">Forex<span class="orange">App</span></h1>
        <h2 id="slogan">calculate your risk</h2>
      <div id="header-links">
<!--
      <p> <a href = "javascript:void(0)" onclick = "document.getElementById('login').style.display='block';
    ">sign in</a>
-->

     {%if user%}
          <div>Hello, {{user}}. You can <a href="/logout">logout</a> here</div>

     {% else %}

          <a href="login">sign in</a> | <a href="register">sign up</a>
     {%endif%}

<div id="login" class="white_content">


<div style="float: left;">
    <p>
        User-Name:<br> <input type="text" name="userName">
        <br>
        Password:<br> <input type="password"   name="password">
        <br>
        <br><br>
        <a href="#" class="myButton" type="buttonConfirm">Login</a>
         <a href = "javascript:void(0)" class="myButton" onclick = "document.getElementById('login').style.display='none'">Close</a>
    </p>
    </div>
</div>
    </div>
        {% block header %}
        {% endblock %}
  </div>
</div>
<div id="content-wrap">
  <div id="content">
      <div id="main">
       {% block main %}
       {% endblock %}
      </div>
<!--
      <div id="sidebar">
       {% block sidebar %}
       {% endblock %}
      </div>
-->
  </div>
</div>
<div id="footer" >
  <div id="footer-content" align="center">
      <br>
      <h4>ForexApp-All Rights Reserved 2015 </h4>

  </div>
</div>
</body>
</html>
