{% extends "base.html" %}


{% block head %}

    {{ block.super }}

{% endblock %}
{% block header %}
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="risk">risk calculation</a></li>
      <li><a href="history" id="current">purchases history</a></li>
      <li><a href="alert">alerts</a></li>
      <li><a href="support">support</a></li>
      <li><a href="about">about</a></li>
    </ul>
{% endblock %}
{% block main %}


<H3>History table</H3>
<!--add popup-->
<a href = "javascript:void(0)" class="myButton" onclick = "document.getElementById('light').style.display='block';
    document.getElementById('fade').style.display='block'">add</a>
<!--the popup-->
<div id="light" class="white_content">
    <h1>Deal History</h1>
<div style="float: left;">
    <form method="post">
    <p>
        Symbol:
        <select name ="symbol">
            <option value="EURUSD" >EUR/USD</option>
            <option value="USDJPY">USD/JPY</option>
            <option value="USDCAN">USD/CAN</option>
            <option value="GBPUSD">GBP/USD</option>
            <option value="AUSUSD">AUS/USD</option>
            <option value="NZDUSD">NZD/USD</option>
            <option value="SP">minSP</option>
            <option value="NSDQ">NSDQ</option>
            <option value="DAX">DAX</option>
            <option value="GOLD">GOLD</option>
             <option value="C.OIL">C.OIL</option>
        </select><br>
        Eatery Price:<br> <input type="number" name="enterPrice" required>
        <br>
        Stop Lose:<br> <input type="number"   name="stopLose" required>
        <br>
        Take Profit:<br> <input type="number"   name="takeProfit" required>
        <br>
        Profit/Loss:<br> <input type="number" name="profitOrLoss" required>
        <br>

        Volume:
        <select name="volume">
            <option value="0.1">0.1</option>
            <option value="0.2">0.2</option>
            <option value="0.3">0.3</option>
            <option value="0.4">0.4</option>
            <option value="0.5">0.5</option>
            <option value="0.6">0.6</option>
            <option value="0.7">0.7</option>
            <option value="0.8">0.8</option>
            <option value="0.9">0.9</option>
            <option value="1.0">1.0</option>
        </select><br>
        <input type="radio" name="type" value="long" checked>Long
        <input type="radio" name="type" value="short" >Short<br>
         Date:<br> <input type="date" name="date" style="width:155px;" required>
        <br>
        Remarks:<br> <input type="text" name="remarks">
        <br>
        Snap Shot:<br> <input type="file" name="snapShot" style="width:155px;" >
        <br><br>
        <input name="" type="submit" class="myButton" value="add">
        <a href = "javascript:void(0)" class="myButton" onclick = "document.getElementById('light').style.display='none';
           document.getElementById('fade').style.display='none'">Close</a>
    </p>
    </form>
    </div>
</div>

<!-- the background for popup-->
<div id="fade" class="black_overlay"></div>
<br><br>

<div class="CSSTableGenerator" >
                <table >
                    <tr>
                        <td>
                            Date
                        </td>
                        <td>
                            Symbol
                        </td>
                        <td >
                            Enter price
                        </td>
                        <td>
                            Stop Lose
                        </td>
                        <td>
                            Take profit
                        </td>
                        <td>
                            Profit/Lose
                        </td>
                        <td>
                            Volume
                        </td>
                        <td>
                           Lo/Sh
                        </td>
                        <td>
                            Remark
                        </td>
                    </tr>
                    {% for h in histories %}
                    <tr>
                        <td >
                            {{ h.date}}
                        </td>
                        <td>
                            {{ h.symbol }}
                        </td>
                        <td>
                            {{ h.enterprice }}
                        </td>
                        <td >
                            {{ h.stoplose }}
                        </td>
                        <td>
                            {{ h.takeprofit }}
                        </td>
                        <td>
                            {{ h.profitorloss }}
                        </td>
                        <td>
                            {{ h.volume }}
                        </td>
                         <td>
                            {{ h.lstype }}
                        </td>
                        <td>
                            {{ h.remarks }}
                        </td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
{% endblock %}
<!--
{% block sidebar %}

    </p>
    </div>
{% endblock %}
-->