{% extends "base.html" %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block header %}
    <ul>
      <li><a href="home" id="current">Home</a></li>
      <li><a href="risk">risk calculation</a></li>
      <li><a href="history">purchease history</a></li>
      <li><a href="alert">alerts</a></li>
      <li><a href="support">support</a></li>
      <li><a href="about">about</a></li>
    </ul>
{% endblock %}
{% block main %}

<table align="left" width="800">
        <tr>
            <td>
                <h2>
                     ForexApp is a web-platform, that helps Traders to calculate <br><br>
                     risk in deals in Forex&Commodities
                </h2><br><br><br>
                <img src="../static/images/image-home.jpg" width="400" height="224" alt="image-home"  class="float-left" /><br>
            </td>
            <td align="right" valign="top">
                <iframe frameborder="0" scrolling="yas" height="230" width="236" allowtransparency="true" marginwidth="0" marginheight="0" src="http://fxrates.investing.com/index.php?force_lang=1&pairs_ids=166;23660;172;8830;8849;1;3;2;4;7;9;5;8;6;10;49;11;13;16;47;51;58;50;53;15;12;52;48;55;&header-text-color=%23FFFFFF&header-bg=%23f78e25&curr-name-color=%230059b0&inner-text-color=%23000000&green-text-color=%232A8215&green-background=%23B7F4C2&red-text-color=%23DC0001&red-background=%23FFE2E2&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&bid=hide&ask=hide&last=show&open=hide&high=hide&low=hide&change=hide&last_update=hide"></iframe>
            </td>
        </tr>
    </table>



{% endblock %}
<!--