
{% extends "base.html" %}
{% block head %}
    {{ block.super }}


  <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="/static/js/index.js"></script>

{% endblock %}
{% block header %}
    <ul>
      <li><a href="home" >Home</a></li>
      <li><a href="risk">risk calculation</a></li>
      <li><a href="history">purchease history</a></li>
      <li><a href="alert">alerts</a></li>
      <li><a href="support">support</a></li>
      <li><a href="about">about</a></li>
    </ul>
{% endblock %}
{% block main %}





<form name="Form" method="post" style="text-align: center">

    <h1>Sign in</h1>

        <br>
        User Name:
        <br> <input name="userName" type="text" id="login_username" maxlength="30" required><br>

        Password:<br><input name="pwd" id="login_password" title="Password must contain at least 4 characters" type="password" required minlength="4" onchange="
        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');">
        <br>
        <br><br>

        <input id="login_button" class="myButton" type="submit" value="Sign in">
        <button type="reset"  class="myButton"value="Reset">Reset</button>
        <br/><br/>
        <a href="forgetPass">Forget Password\User name?</a>

</form>

{% endblock %}
