
{% extends "base.html" %}
{% block head %}
    {{ block.super }}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="Jceforexapp.apps.googleusercontent.com">

 <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="application/javascript" src="/static/js/index.js"></script>

{% endblock %}
{% block header %}
    <ul>
      <li><a href="home" >Home</a></li>
      <li><a href="risk">risk calculation</a></li>
      <li><a href="history">purchease history</a></li>
      <li><a href="alert">alerts</a></li>
      <li><a href="support">support</a></li>
      <li><a href="about">about</a></li>
    </ul>
{% endblock %}
{% block main %}

    <form name="Form"  method="post">


        <span id="signinButton" style="float:right">
        <span
        class="g-signin"
        data-callback="signinCallback"
        data-clientid="Jceforexapp"
        data-cookiepolicy="single_host_origin"
        data-requestvisibleactions="http://schema.org/AddAction"
        data-scope="https://www.googleapis.com/auth/plus.login">
        </span>
        </span>



        User Name:
        <br> <input name="userName" type="text" id="login_username" maxlength="30" required><br>

        Password:<br><input  id="login_password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="
        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
        if(this.checkValidity()) form.pwd2.pattern = this.value;">
        <br>
        <br><br>

        <input id="login" class="myButton" type="submit" value="Sign in">
        <button type="reset"  class="myButton"value="Reset">Reset</button>
    </form>


{% endblock %}
