{% extends "base.html" %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block header %}
    <ul>
      <li><a href="home" >Home</a></li>
      <li><a href="risk">risk calculation</a></li>
      <li><a href="history">purchease history</a></li>
      <li><a href="alert">alerts</a></li>
      <li><a href="support">support</a></li>
      <li><a href="about">about</a></li>
    </ul>


{% endblock %}
{% block main %}


<form name="Form" style="text-align: center" method="post">

    <h1>Sign up</h1>

    {%if error_userName%}
          <div style="color: red;text-align: left;"> {{error_userName}}</div>
    {%endif%}
    {%if error_mail%}
          <div style="color: red;text-align: left;"> {{error_mail}}</div>
    {%endif%}

    <h2>
        User Name:<br> <input type="text" name="userName" maxlength="30" required>
        <br>
        Password:<br><input  id="reg_password" title="Password must contain at least 4 characters" type="password" required minlength="4" name="pwd1" onchange="
        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
        if(this.checkValidity()) form.pwd2.pattern = this.value;">
        <br>

        Confirm Password:<br><input  title="Please enter the same Password as above" type="password" required minlength="4" name="pwd2" onchange="
        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');">
        <br>

        Mail:<br> <input type="text" id="reg_email" name="mail" placeholder="email@example.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="50" required>

        <br><br><input type="checkbox" name="terms" required> Do you confirm our
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Terms of Use?</a>
        <br><br>

        <input id="register_button" type="submit"  class="myButton" value="Sign Up">
        <button type="reset"  class="myButton" value="Reset">Reset</button>
    </h2>
<br>
    </form>


<!--the popup-->
    <div id="light" class="white_content" width="150">
    <h1>Terms of Use</h1>
        <div style="float: left;">

                ForexApp didn't Responsible about the price that display on site <br><br>
                ForexApp didn't Responsible about sending alert on exact time (there may be delay)<br><br>
                Alert- ForexApp can send to your mail alert about deal you will add<br><br>

                <br>

                <a href = "javascript:void(0)" class="myButton"  onclick ="document.getElementById('light').style.display='none';
                   document.getElementById('fade').style.display='none'">Close</a>
        </div>
    </div>

{% endblock %}
