{% extends "base.html" %}
{% block head %}
    {{ block.super }}

{% endblock %}
{% block header %}
    <ul>
      <li><a href="home" >Home</a></li>
      <li><a href="risk">risk calculation</a></li>
      <li><a href="history">purchease history</a></li>
      <li><a href="alert">alerts</a></li>
      <li><a href="support">support</a></li>
      <li><a href="about">about</a></li>
    </ul>
{% endblock %}
{% block main %}


<form name="Form"  method="post">

    <h2>
        User-Name:<br> <input type="text" name="userName" maxlength="30" required>
        <br>
        First-Name:<br> <input type="text" name="firstName" maxlength="30" required>
        <br>
        Last-Name:<br> <input type="text" name="lastName" maxlength="30" required>
        <br>
        Password:<br> <input type="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="password"
                onchange="Form.confPass.pattern = this.value;"  maxlength="30" required>
        <br>
        Confirm-Password:<br> <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="confPass" maxlength="30" required>
        <br>
        Mail:<br> <input type="text" name="mail" placeholder="email@example.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="50" required>
        <br><br>

        <input name="" type="submit" value="Sign Up">
    </h2>
<br>
    </form>

{% endblock %}
