{% extends "base.html" %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block header %}
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="risk" id="current">risk calculation</a></li>
      <li><a href="history">purchease history</a></li>
      <li><a href="alert">alerts</a></li>
      <li><a href="support">support</a></li>
      <li><a href="about">about</a></li>
    </ul>
{% endblock %}
{% block main %}
    <table align="left" width="400">
        <tr>
            <td>Symbol:</td>
            <td>
                <div id="demo"></div>
                <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
                <script>
                    $.getJSON('static/json/symbols.json', function(data) {
                      var out="<select id='selectSymbol' >";
                      var i;
                      for(i = 0; i <data.symbol.length; i++)
                      {
                          out += "<option>"+data.symbol[i].name +"</option>";
                      }
                      out+="</select>";
                      document.getElementById("demo").innerHTML = out;
                  });
                </script>
            </td>
        </tr>
        <tr>
            <td>Enter Price: </td>
            <td> <input type="number" name="enterPrice" id='enterPrice' ></td>
            <td><a href="#" class="myButton" type="buttonConfirm">get price</a>

        </tr>

        <tr>
            <td>Stop Lose:</td>
            <td><input type="number" name="stopPrice" id='stopPrice' ></td>
        </tr>
         <tr>
            <td>Volume:</td>
            <td>
                <select id='volume'>
                <option value="0.1">0.1</option>
                <option value="0.2">0.2</option>
                <option value="0.3">0.3</option>
                <option value="0.4">0.4</option>
                <option value="0.5">0.5</option>
                <option value="0.6">0.6</option>
                <option value="0.7">0.7</option>
                <option value="0.8">0.8</option>
                <option value="0.9">0.9</option>
                <option value="1.0">1.0</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="radio" name="type"  id="long" checked>Long
                <input type="radio" name="type"  >Short<br>
        </tr>
        <tr>
            <td></td>
            <td><br> <input name type="submit" onclick="calculateRisk();" class="myButton" value="get risk!">

        </tr>
    </table>

<script>
function calculateRisk() {
    var symbol= document.getElementById("selectSymbol").value;
    var enterPrice = parseFloat(document.getElementById("enterPrice").value);
    var stopLose = parseFloat(document.getElementById("stopPrice").value);
    var volume = parseFloat(document.getElementById("volume").value);
    var price;
    var risk;


    price=$.getJSON('static/json/symbols.json', function (data)
            {
                var price;
                var step;
                var i;
                var sym = document.getElementById("selectSymbol").value;
                for (i = 0; i < data.symbol.length; i++) {
                    if (data.symbol[i].name == sym) {
                        price = data.symbol[i].price;
                        step = data.symbol[i].step;

                        console.log("in lop"+data.symbol[i]);
                    }
                }

            });

    console.log("out "+ price);
    if(document.getElementById("long").checked == true)
        risk = enterPrice-stopLose;
    else
        risk = stopLose-enterPrice;
    risk = risk*volume*price;
    document.getElementById("resultRisk").value = risk;
}
</script>

 <script>
 function saerchInJson()
 {

            $.getJSON('static/json/symbols.json', function (data)
            {
                var price;
                var step;
                var i;
                var sym = document.getElementById("selectSymbol").value;
                var retunVal
                for (i = 0; i < data.symbol.length; i++) {
                    if (data.symbol[i].name == sym) {
                        price = data.symbol[i].price;
                        step = data.symbol[i].step;
                        retunVal = new Array(price, step)
                    }
                }
                document.getElementById("saerchJson").value = price;
                return;
            });
    }
 </script>


Your risk is:
<output type="text" id ='resultRisk'><br>

{% endblock %}
