{% extends "base.html" %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block header %}
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="risk">risk calculation</a></li>
      <li><a href="history">purchease history</a></li>
      <li><a href="alert">alerts</a></li>
      <li><a href="support" id="current">support</a></li>
      <li><a href="about">about</a></li>
    </ul>
{% endblock %}
{% block main %}

<h2>Comment us</h2>
<form method="post">
    <h2>
        Name:<br> <input type="text" name="name">
        <br>
        Mail:<br> <input type="text"   name="mail">
        <br>
        comment:<br> <input type="text" name="comment">
        <br><br>

        <input name="" type="submit" value="Send">
    </h2>
<br>
    </form>

<img src="../static/images/Support.jpg" width="400" height="224" alt="image-home"  class="float-left" />
{% endblock %}
