{% extends "base.html" %}
{% block head %}
    {{ block.super }}
{% endblock %}
{% block header %}
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="risk.html">risk calculation</a></li>
      <li><a href="history.html">purchease history</a></li>
      <li><a href="alert.html">alerts</a></li>
      <li><a href="support.html" id="current">support</a></li>
      <li><a href="about.html">about</a></li>
    </ul>
{% endblock %}
{% block content %}
Support
{% endblock %}